.content {
    justify-content: space-between;
}

#project-bg {
    width: 22vw;
    height: 30vh;
    background-color: rgba(255, 228, 196, 0.8);
    color: black;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 1vh;
}

.project {
    width: 21vw;
    height: 26vh;
    border-radius: 2%;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
}

#project-bg:hover{
    transform: scale(1.05);
}

.project-description {
    width: 21vw;
    height: 26vh;
    background-color: rgb(77, 75, 75);
    position: absolute;
    opacity: 0.85;
    transition: opacity 1s;
    visibility: hidden;
    border-radius: 2%;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-description a{
    text-decoration: none;
    color: bisque;
}

.project-description a:hover{
    text-decoration: none;
    color: rgb(245, 193, 130);
}