.content {
    justify-content: space-between;
}

#project-bg {
    width: 22vw;
    height: 30vh;
    background-color: rgba(124, 122, 122, 0.9);
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 1vh;
}

#project {
    width: 21vw;
    height: 28vh;
    background-color: white;
    border-radius: 2%;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
}

#project-bg:hover{
    transform: scale(1.05);
}

#project-description {
    width: 21vw;
    height: 11vh;
    background-color: black;
    visibility: hidden;
}

#project-description {
    width: 21vw;
    height: 11vh;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}


#project-description.fade {
    opacity: 0.9;
    visibility: visible;
  }